In [1]:
import boto3
import pandas as pd
import numpy as np
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
import os
import requests
import json

In [2]:
print("Environment setup complete!")

Environment setup complete!

In [3]:
print("Creating sample dataset...")

# Generate synthetic classification dataset
X, y = make_classification(
    n_samples=1000,
    n_features=20,
    n_informative=10,
    n_redundant=10,
    n_classes=2,
    random_state=42
)

# Create DataFrame
feature_names = [f'feature_{i}' for i in range(X.shape[1])]
df = pd.DataFrame(X, columns=feature_names)
df['target'] = y

print(f"Dataset shape: {df.shape}")
print(f"Target distribution:\n{df['target'].value_counts()}")
df.head()

Creating sample dataset...
Dataset shape: (1000, 21)
Target distribution:
target
0    501
1    499
Name: count, dtype: int64

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,target
0,-2.420450,-0.745801,3.598637,-2.918133,-2.016988,2.111206,-0.603560,3.585315,-4.787667,1.433132,...,1.767057,0.515534,2.624867,-1.545490,4.448920,-3.033460,0.945739,-0.475303,-0.376580,0
1,-0.277373,-1.770673,0.076195,3.341245,-0.426518,1.006059,2.747551,-0.548257,-0.959510,0.042888,...,5.350201,-1.555458,-7.717279,-2.009315,-4.327860,1.392194,-0.331516,-0.958853,2.855583,1
2,-0.767787,-1.540759,-3.473569,-1.219458,-0.138750,-2.888684,-2.190313,-2.182062,1.354490,-2.695486,...,-5.589396,1.023721,-1.941929,-0.442356,0.469277,-1.259504,-1.228438,0.142377,-1.567291,0
3,-2.356346,1.226760,9.007900,-3.197540,-0.211416,2.279068,0.658803,2.842208,-3.129556,3.291906,...,5.631270,3.396555,6.135726,-0.596843,4.753628,-4.109670,2.840327,1.588316,1.219539,1
4,0.248549,0.235863,0.237255,-2.428553,1.038715,-0.063436,-5.904817,0.475934,-1.835762,1.716418,...,-6.907174,2.146283,1.704488,-2.857673,0.305548,1.096400,1.250833,-0.256304,-0.639951,1